.selectedAnswer {
  background-color: #d9e7e9a8;
}

.quiz {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.button-container {
  display: flex;
  justify-content: center;
  
}

.button-container button {
  padding: 10px;
}

.button-container button {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
  margin: 5px;
}

.button-container button:hover {
  background-color: #ddd;
}
.button-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #888;
}
.answer:hover{
  background-color: #f2f0f0b8;
  cursor: pointer;
}
